<!DOCTYPE html>
<html>
  <head>
    <title>AmigoOculto</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="conteudo">
      <h1 class="titulo"><%= link_to "Amigo Oculto", '/' %></h1>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <% if usuario_signed_in? %>
        <%= link_to "Sair do sistema", destroy_usuario_session_path, method: :delete %>
      <% end %>

      <%= yield %>
    </div>
  </body>
</html>
